.countries{
    fill: #000000;
}

.txt{
    fill: #ffffff;
    font-size: 8px;
}

.button{
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-opacity: 0.8;
    fill: #000000;
    fill-opacity: 1;
}

#svg1{
    background-color: #000000;
	display: block;
}

#tooltip{
    opacity: 1;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 160px;
    height: 30px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 9px;
    padding: 4px;
    line-height: 2;
    display: inline;
}

#buttons{
    width: 1400px;
    height: 150px;
    background-color: #0000ff;
}